
.container{
    background-color: rgb(255, 255, 255);
    display: grid;
    place-content: center;
    margin-top: 2.5%;
    max-width: 500px;
    height: 600px;
    border-radius: 0.5rem;
    /* box-shadow: 0 10px 15px 1px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
    box-shadow: -10px 5px 10px 1px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    /* opacity: 0.9; */
    padding: 1rem;
}
.container:hover{
    box-shadow: -10px 5px 10px 1px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease 0s;
    transform: translateY(-7px);
    outline: none;
}
/* .container:hover{
} */

.form{
    width:350px;
    height: 450px;
    padding: 1rem;
}

.form-title {
    margin-bottom: 30%;
    font-size: 2.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #6B7280;
}
p{
    margin-bottom: 1%;
    font-size: 1.0rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: #000;
  }
.signup-link {
    margin-top: 26%;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

.signup-link a {
    text-decoration: underline;
}
.btn-success{
    display: grid;
    place-content: center;
    margin-top: 20px;
    width: 320px;
}
.btn:hover,
.btn:focus{
    letter-spacing: 2px;
}
