<div class="container">
    <form class="form" action="">
        <p class="form-title">Bienvenido</p>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="">
            <label for="floatingPassword">Password</label>
          </div>
          <button type="button" class="btn btn-success" (click)="login()">Iniciar sesion</button>
        <p class="signup-link">
            No tienes cuenta?
            <a href="">Registrate</a>
          </p>
    </form>
</div>