.fixed-menu{
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        /* max-width: 1440px; */
        min-height: auto;
        margin-bottom: 1%;
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5), 0 0px 0px 0px rgba(0, 0, 0, 0.05);
        padding: 1rem;
}