<header>
    <nav class="fixed-menu">
      <ul>
        <a href="">Inicio</a>
        <a href="">Nosotros</a>
        <a href="">Servicios</a>
        <a href="">Contacto</a>
        <a routerLink="" (click)="salir()">SALIR</a>
      </ul>
    </nav>
  </header>