<!-- <app-navbar></app-navbar> -->
<main class="main">
    <header class="header">
        <a href="" class="header-link"><img class="header-img" src="/assets/img/youtube.png" alt="">LOGO</a>
    </header>
    <nav class="nav">
        <ul>
            <a href="">Inicio</a>
            <a href="">Nosotros</a>
            <a href="">Servicios</a>
            <a href="">Contacto</a>
        </ul>
    </nav>

    <!--SECCION 1 BANNER -->
    <section class="banner">
        <h1>Descuento al 80%</h1>
        <h2>Disfruta de nuestros servicios por ser dia de la madre</h2>
        <a href="">Reserva ya</a>
    </section>
    <!-- SECCION 2 -->
    <section class="section-box-left">
        <article class="article-box-left">
            <div class="title-left">
                <h2>Nuestro servicios</h2>
                <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
            </div>
            <div class="img-left">
                <img src="/assets/img/woman-gb790b1d0b_1920.jpg" alt="">
            </div>
            <p class="p-left"><span>Lorem ipsum.</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Nam doloribus maiores veniam sunt cumque nesciunt, quis asperiores odio architecto
                possimus delectus cupiditate dicta ratione? Asperiores unde et nemo illum ex.
            </p>
        </article>
        <aside class="aside-box-right">
            <div class="title-right">
                <h3>Noticias</h3>
            </div>
            <div class="box-right">
                <div class="img-right">
                    <img src="/assets/img/pasta-g5d7561c34_1920.jpg" alt="">
                </div>
                <div class="news-box">
                    <h4>Tallarines hoy</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem labore, debitis aspernatur nisi
                        ipsam officia mollitia molestiae, cupiditate velit voluptates quasi quidem a. Quod nam quaerat
                        amet! Doloribus, eum et.
                    </p>
                    <a href="">Ver mas</a>
                </div>
            </div>
            <div class="box-right">
                <div class="img-right">
                    <img src="/assets/img/tomatoes-g10ac3695b_1920.jpg" alt="">
                </div>
                <div class="news-box">
                    <h4>Tallarines hoy</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quae quasi dolorem esse. Iusto ad,
                        modi vero animi veniam libero. Optio quibusdam accusamus deserunt minus provident itaque,
                        deleniti eum. Ratione.</p>
                    <a href="">Ver mas</a>
                </div>
            </div>
            <div class="box-right">
                <div class="img-right">
                    <img src="/assets/img/pasta-g5d7561c34_1920.jpg" alt="">
                </div>
                <div class="news-box">
                    <h4>Tallarines hoy</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda, omnis illum. Minima sunt
                        ipsam labore dolor deserunt provident architecto cum libero enim ut doloribus, iure blanditiis.
                        Dignissimos totam officiis numquam.</p>
                    <a href="">Ver mas</a>
                </div>
            </div>
        </aside>
    </section>
    <!-- SECCION 3 -->
    <section class="s3-box">
        <article class="article-s3">
            <div class="title-s3">
                <h2>Resultados 2022</h2>
                <h3>Los datos fueron obtenidos de los reportes mensuales </h3>
            </div>
            <div class="s3-table-box">
                <table class="table-s3">
                    <tr class="row-table">
                        <th class="colum">Titulo 1</th>
                        <th class="colum">Titulo 2</th>
                        <th class="colum">Titulo 3</th>
                        <th class="colum">Titulo 4</th>
                        <th class="colum">Titulo 5</th>
                    </tr>
                    <tr class="row-data">
                        <td class="colum">Titulo 1</td>
                        <td class="colum">Titulo 2</td>
                        <td class="colum">Titulo 3</td>
                        <td class="colum">Titulo 4</td>
                        <td class="colum">Titulo 5</td>
                    </tr>
                    <tr class="row-data">
                        <td class="colum">Titulo 1</td>
                        <td class="colum">Titulo 2</td>
                        <td class="colum">Titulo 3</td>
                        <td class="colum">Titulo 4</td>
                        <td class="colum">Titulo 5</td>
                    </tr>
                    <tr class="row-data">
                        <td class="colum">Titulo 1</td>
                        <td class="colum">Titulo 2</td>
                        <td class="colum">Titulo 3</td>
                        <td class="colum">Titulo 4</td>
                        <td class="colum">Titulo 5</td>
                    </tr>
                    <tr class="row-data">
                        <td class="colum">Titulo 1</td>
                        <td class="colum">Titulo 2</td>
                        <td class="colum">Titulo 3</td>
                        <td class="colum">Titulo 4</td>
                        <td class="colum">Titulo 5</td>
                    </tr>
                </table>
            </div>
            <div class="s3-media-box">
                <h3>Redes sociales</h3>
                <div class="media-img">
                    <img src="/assets/img/instagram.png" alt="">
                    <img src="/assets/img/youtube.png" alt="">
                    <img src="/assets/img/facebook.png" alt="">
                    <img src="/assets/img/whatsapp.png" alt="">
                </div>
            </div>
        </article>
        <aside class="s3-aside-box">
            <div class="map-box">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d30211.138558854163!2d-98.9495296!3d18.825216!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1687557988096!5m2!1ses!2smx"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="form-box">
                <h3>Contacta con nosotros</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente illum quam sint velit sit
                    aspernatur harum debitis cumque beatae consectetur aliquam quasi culpa, nesciunt aut itaque odit
                    doloremque veniam? Sint.</p>
                <form  class="form" action="">
                    <input class="input" type="text" name="" id="" placeholder="Nombre">
                    <input class="input" type="email" name="" id="" placeholder="Correo electronico">
                    <input class="input" type="text" name="" id="" placeholder="Asunto">
                    <textarea class="textarea" name="" id="" cols="30" rows="5" placeholder="Mensaje"></textarea>
                    <input class="input" type="submit" value="Enviar">
                </form>
            </div>
        </aside>
    </section>
    <!-- SECCION 4 FOOTER -->
    <section>
        <div>
            <div>
                <h3>Subtitulo 1</h3>
                <a href="">Enlace 1</a>
                <a href="">Enlace 2</a>
                <a href="">Enlace 3</a>
            </div>
            <div>
                <h3>Subtitulo 2</h3>
                <a href="">Enlace 1</a>
                <a href="">Enlace 2</a>
                <a href="">Enlace 3</a>
            </div>
            <div>
                <h3>Subtitulo 3</h3>
                <a href="">Enlace 1</a>
                <a href="">Enlace 2</a>
                <a href="">Enlace 3</a>
            </div>
            <div>
                <h3>Subtitulo 4</h3>
                <a href="">Enlace 1</a>
                <a href="">Enlace 2</a>
                <a href="">Enlace 3</a>
            </div>
        </div>
        <footer>
            &copy; <a href="">Christopher Becerro Bollera 2023</a>. <p>Todos los derechos reservados</p>
        </footer>
    </section>
</main>