* {
    /* font-family: Arial, Helvetica, sans-serif; */
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
    background-color: rgb(235, 235, 220);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Inicio header */
.header {
    background-color: yellowgreen;
    width: 100%;
    height: 50px;
    padding: 0 40px;
}

.header-link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
}

.header-img {
    object-fit: cover;
    height: 100%;
    margin-right: 10px;
}

/* Fin header */

/* Bloque de navegacion */
.nav {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 60px;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 30px 70px;
    /* background-color: aqua; */
}

.nav a:hover {
    color: rgb(0, 0, 0);
    background-color: yellowgreen;
}

/* banner */
.banner {
    background-image: url(/assets/img/spaghetti-g947692dca_1920.jpg);
    background-position: center;
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner h1 {
    font-size: 75px;
}

.banner h2 {
    font-size: 30px;
}

.banner a {
    background-color: orange;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    margin-top: 75px;
    color: white;
}

.banner a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

/* Inicia seccion 2 */
.section-box-left {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.article-box-left {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 3%;
}

.title-left {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-left h2 {
    font-size: 28px;
}

.title-left h3 {
    font-size: 18px;
    margin-top: 10px;
    color: cadetblue;
}

.img-left {
    width: 100%;
    margin: 30px 0;
}

.img-left img {
    object-fit: cover;
    width: 100%;
}

.p-left {
    /* background-color: chartreuse; */
    font-size: 18px;
}



/* seccion derecho */
.aside-box-right {
    /* background-color: red; */
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items: center;
    padding: 0 3%;
}
.title-right{
    /* background-color: blueviolet; */
    text-align: center;
    /* margin-top: 20px; */
}
.title-right h3{
    font-size: 27px;
    color: rgb(0, 0, 0);
}

.box-right{
    /* background-color: rgb(10, 247, 255); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin: 20px 0;
}
.img-right{
    width: 100%;
}

.img-right img{
    object-fit: cover;
    width: 100%;
}
.news-box {
    width: 100%;
    margin: 0 10px;
}
.news-box h4 {
    font-size: 17px;
    text-align: center;
    margin-bottom: 15px;
}
.news-box p{
    font-size: 15px;
    text-align: justify;
}

.news-box a{
    font-size: 14px;
}
/* Finaliza seccion 2 */

/* Inicia seccion 3 */
.s3-box{
    background-color: brown;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.article-s3{
    background-color: aqua;
    width: 50%;
    height: 100%;
    padding: 0 3%;
}
.title-s3{
    background-color: burlywood;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s3-table-box{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}
.table-s3{
    table-layout: auto;
    border: 1px solid black;
}
.row-table{
    background-color: rgb(116, 237, 100);
}
.row-data{
    width: auto;
    height: 40px;
}
.colum{}

.s3-media-box{
    background-color: chartreuse;
}
.media-img{
    width: 100%;
    height: 40px;

}
.media-img img{
    object-fit: cover;
    height: 100%;
}
.s3-aside-box{
    background-color: blue;
    width: 50%;
    height: 100%;
}
.map-box{
    background-color: chocolate;
}

.form-box{
    background-color: violet;
}
.form{background-color: teal;}
/* Finaliza seccion 3 */